.fourth-section {
  height: 919px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  position: relative;
}

.testimonials-wrapper {
  margin-top: 140px;
  height: 599px;
  width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #333b41;
}

.testimonials-cards {
  height: 391px;
  width: 1162px;
  margin-top: 47px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.testimonials-card {
  width: 268px;
  height: 391px;
  background: #f1f3f2;
  border-radius: 20px;
  border: 2px solid rgba(254, 189, 171, 0.74);
}

.user-data-wrapper {
  margin: 15px 0 0 16px;
  display: flex;
}

.avatar {
  height: 37px;
  width: 37px;
}

.user-text-data {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.user-name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 120%;
  color: #000000;
}

.posting-data {
  width: 168px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.posting-data li {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #bdbdbd;
}

.testimonials-card__text {
  margin: 10px 15px 19px 16px;
  width: 237px;
  height: 309px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
  overflow: hidden;
}

.testimonials-bar {
  -webkit-appearance: none;
  appearance: none;
  margin-top: 21px;
  width: 599px;
  height: 8px;
  background: #f5f7f6;
  border-radius: 5px;
  position: relative;
  border: 0.5px solid rgba(243, 169, 248, 0.66);
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.testimonials-bar:focus {
  -webkit-appearance: none;
  appearance: none;
  border: 0.5px solid rgba(243, 169, 248, 0.66);
}

.testimonials-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 115.19px;
  height: 6px;
  background: #fe9013;
  border-radius: 5px;
  cursor: pointer;
}

.testimonials-bar::-moz-range-thumb {
  width: 115.19px;
  height: 6px;
  background: #fe9013;
  border-radius: 5px;
  cursor: pointer;
}

.leave-feedback-btn {
  margin-top: 31px;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  align-self: start;
  border: none;
  cursor: pointer;
}

.leave-feedback-btn:hover {
  background: #4b9200;
}

.dekor-leav {
  width: 247px;
  height: 296px;
  background-image: url(../../../public/assets/images/leav_foto.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 1580px) {
  .fourth-section {
    height: 842px;
  }

  .testimonials-wrapper {
    margin-top: 100px;
    height: 608px;
    width: 940px;
  }

  .testimonials-cards {
    height: 395px;
    width: 940px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    overflow: hidden;
  }

  .testimonials-card {
    width: 294px;
    height: 391px;
    background: #f5f7f6;
    border-radius: 20px;
    border: 2px solid rgba(254, 189, 171, 0.74);
  }

  .posting-data {
    width: 144px;
  }

  .testimonials-card__text {
    margin: 10px 22px 19px 16px;
    width: 255px;
  }

  .testimonials-bar {
    margin-top: 20px;
    width: 390px;
    height: 8px;
  }

  .testimonials-bar::-webkit-slider-thumb {
    width: 75px;
  }

  .testimonials-bar::-moz-range-thumb {
    width: 75px;
  }

  .leave-feedback-btn {
    margin-top: 52px;
  }

  .dekor-leav {
    width: 196px;
    height: 235px;
    background-image: url(../../../public/assets/images/leav_foto-1000.png);
  }
}

@media only screen and (max-width: 980px) {
  .fourth-section {
    height: 668px;
  }

  .testimonials-wrapper {
    margin-top: 60px;
    height: 528px;
    width: 600px;
  }

  .testimonials-cards {
    height: 357px;
    width: 600px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .testimonials-card {
    width: 596px;
    height: 105px;
  }

  .testimonials-card:not(:first-child) {
    margin-top: 15px;
  }

  .user-data-wrapper {
    margin: 15px 0 0 12px;
    display: flex;
  }

  .posting-data {
    width: 168px;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  .testimonials-card__text {
    margin: 10px 29px 12px 18px;
    width: 553px;
    height: 38px;
  }

  .testimonials-bar {
    display: none;
  }

  .leave-feedback-btn {
    margin-top: 40px;
    width: 240px;
    height: 54px;
    align-self: center;
  }

  .dekor-leav {
    width: 116px;
    height: 135px;
    background-image: url(../../../public/assets/images/leav_foto-landing-640.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media only screen and (max-width: 625px) {
  .fourth-section {
    height: 580px;
    width: 100%;
  }

  .testimonials-wrapper {
    margin-top: 30px;
    height: unset;
    width: 299px;
  }

  .testimonials-title {
    font-size: 24px;
  }

  .testimonials-cards {
    height: 357px;
    width: 299px;
    margin-top: 20px;
    overflow: hidden;
  }

  .testimonials-card {
    width: 295px;
    height: 105px;
    background: #f5f7f6;
  }

  .user-data-wrapper {
    margin: 10px 0 0 12px;
    display: flex;
  }

  .testimonials-card__text {
    margin: 10px 29px 12px 18px;
    width: 252px;
    height: 38px;
    overflow: hidden;
  }

  .leave-feedback-btn {
    margin-top: 30px;
    width: 240px;
    height: 54px;
    align-self: center;
    cursor: pointer;
  }

  .dekor-leav {
    width: 51px;
    height: 64px;
    background-image: url(../../../public/assets/images/leav_foto-land320.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
