.information-first-wrapper {
  margin-top: 20px;
  //height: 421px;
  height: max-content;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.information-first-wrapper::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 1160px;
  left: 0px;
  bottom: -20px;
  background: #767474;
}

.information-foto {
  width: 422px;
  height: 421px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.information-text {
  width: 668px;
}

.information-text p {
  //height: 288px;
  height: max-content;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  color: #ababab;
  text-align: justify;
}

.information-text p span {
  color: #4b9200;
}

.feed-friend-btn {
  margin-top: 41px;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: grid;
  align-items: center;
  text-decoration: none;
}

.feed-friend-btn:hover {
  background: #4b9200;
}

@media only screen and (max-width: 1580px) {
  .information-first-wrapper {
    margin-top: 20px;
    // height: 458px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .information-first-wrapper::after {
    display: none;
  }

  .information-foto {
    width: 455x;
    height: 458px;
  }

  .information-text {
    width: 455px;
  }

  .information-text p {
    //height: 367px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    color: #ababab;
  }

  .feed-friend-btn {
    margin-top: 37px;
  }
}

@media only screen and (max-width: 980px) {
  .information-first-wrapper {
    margin-top: 20px;
    // height: 764px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .information-foto {
    width: 390px;
    height: 393px;
  }

  .information-text {
    width: 600px;
    display: grid;
    justify-content: center;
  }

  .information-text p {
    margin-top: 30px;
    // height: 341px;
    width: 420px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    color: #ababab;
  }

  .feed-friend-btn {
    margin-top: 40px;
    justify-self: center;
  }
}

@media only screen and (max-width: 625px) {
  .information-first-wrapper {
    margin-top: 10px;
    // height: 561px;
  }

  .information-foto {
    width: 319px;
    height: 193px;
  }

  .information-text {
    width: 300px;
    align-self: center;
  }

  .information-text p {
    //height: 264px;
    width: 300px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #ababab;
  }

  .feed-friend-btn {
    margin-top: 30px;
  }
}
