.main-component {
  display: grid;
  align-items: center;
  grid-template-areas:
    'sidebar first'
    'sidebar slider'
    'information information'
    'donate donate';
  grid-template-columns: 135px auto;
}

.information-section {
  position: relative;
  grid-area: information;
  display: grid;
  padding-bottom: 140px;
}

.information-wrapper {
  margin-top: 140px;
  /* height: 1852px; */
  width: 1160px;
  justify-self: center;
}

.animal-information-block {
  height: 1018px;
}

.short-text {
  height: 259px;
  overflow: hidden;
  position: relative;
}

.short-text::after {
  content: '';
  display: block;
  height: 70px;
  width: 1160px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(360deg, #ffffff -13.95%, rgba(255, 248, 248, 0) 88.37%);
}

.information-section-title {
  width: 422px;
  height: 62px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  color: #4b9200;
}

.information-second-wrapper {
  margin-top: 62px;
}

.information-block {
  display: flex;
  align-items: flex-end;
}

.range {
  margin-top: 20px;
}

.habitat {
  margin-top: 28px;
}

.general {
  margin-top: 30px;
}

.information-block p {
  margin-left: 10px;
}

.information-subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  color: #000000;
}

.information-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

.margin-top-ten {
  margin-top: 10px;
}

.margin-top-twenty {
  margin-top: 20px;
}

.information-description span {
  color: #4b9200;
}

.read-less {
  width: 129px;
  height: 42px;
  margin-top: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #000000;
  background: #f1f3f2;
  border: 1px solid #333b41;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 1580px) {
  .information-wrapper {
    margin-top: 100px;
    /* height: 1910px; */
    height: unset;
    width: 940px;
    justify-self: center;
  }

  .information-second-wrapper {
    margin-top: 60px;
  }

  .animal-information-block {
    height: 1128px;
  }

  .short-text {
    height: 259px;
    overflow: hidden;
  }

  .range {
    margin-top: 10px;
    height: 46px;
  }

  .habitat {
    margin-top: 10px;
    height: 46px;
  }

  .read-less {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 980px) {
  .main-component {
    display: grid;
    align-items: center;
    grid-template-areas:
      'sidebar first'
      'sidebar slider'
      'information information'
      'donate donate';
    grid-template-columns: 125px auto;
  }

  /* .main-wrapper {
      align-items: flex-start;
    } */

  .information-section {
    padding-bottom: 147px;
  }

  .information-wrapper {
    margin-top: 60px;
    /* height: 1910px; */
    height: unset;
    width: 600px;
    justify-self: center;
  }

  .information-section-title {
    width: 262px;
    height: 58px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: #4b9200;
  }

  .animal-information-block {
    height: 1437px;
  }

  .short-text {
    height: 259px;
    overflow: hidden;
  }

  .information-second-wrapper {
    margin-top: 60px;
  }

  .information-block:first-child {
    align-items: unset;
  }
}

/* @media only screen and (max-width: 640px) {
  .main-wrapper {
    align-items: flex-start;
  }
} */

@media only screen and (max-width: 625px) {
  .main-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .information-wrapper {
    margin-top: 0;
    /* height: 1852px; */
    height: unset;
    width: 320px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .information-section {
    margin-top: 60px;
    padding-bottom: 80.55px;
    width: 100vw;
  }

  .information-section-title {
    width: 131px;
    height: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #4b9200;
  }

  .information-second-wrapper {
    margin-top: 40px;
    width: 300px;
  }

  .animal-information-block {
    height: 2382px;
  }

  .short-text {
    height: 376px;
    overflow: hidden;
  }
}
